/* @override http://localhost:4000/images/Envision.css */

/* Envision.css */

/* @group Top Elements */

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: #CCC;
	font: 75%/1.6em Verdana, Tahoma, arial, sans-serif;
	color: #555;
	text-align: center;
}

/* @end */

/* @group Links */

a, a:visited {
	text-decoration: none;
	color: #2180BC;
	background: inherit;
}

a:hover {
	background: inherit;
	text-decoration: underline;
}

/* @end */

/* @group Headers */

h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	/*color: #006699;*/
	/*color: #000;*/
	color: #c21c1d;
}

h2 {
	font-size: 140%;
	text-transform: uppercase;
	color: #dd1d09;
}

h3 {
	font-size: 120%;
	color: #666666;
}

/* @end */

/* @group Images */

img.border {
	background: #FAFAFA;
	border: 1px solid #E5E5E5;
	padding: 8px;
}

img.nopadding {
	padding: 0px;
}

img {
	background: #FFF;
	border: 0;
	padding: 2px;
	max-width: 712px;
	vertical-align: text-bottom;
}

img.float-right {
	margin: 5px 0px 10px 10px;
}

img.float-left {
	margin: 5px 10px 10px 0px;
}

/* @end */

/* @group Margins & Padding */

h1, h2, h3, p {
	padding: 10px;
	margin: 0;
}

ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}

code {
	margin: 5px 0;
	padding: 10px;
	text-align: left;
	display: block;
	overflow: auto;
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background: #FAFAFA;
	border: 1px solid #f2f2f2;
}

acronym {
	cursor: help;
	border-bottom: 1px dotted #777;
}

blockquote {
	margin: 10px;
	padding: 0 0 0 28px;
	border: 1px solid #f2f2f2;
	background: #FAFAFA url(quote.gif) no-repeat 5px 5px;
}

/* @end */

/* @group Tables */

table {
	border-collapse: collapse;
	margin: 10px;
}

th strong {
	color: #fff;
}

th {
	background: #93BC0C;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
}

tr {
	height: 30px;
}

td {
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
}

td.first,th.first {
	border-left: 0px;
}

tr.row-a {
	background: #F8F8F8;
}

tr.row-b {
	background: #EFEFEF;
}

/* @end */

/* @group Form Elements */

form {
	margin: 10px;
	padding: 0 5px;
	border: 1px solid #f2f2f2;
	background-color: #FAFAFA;
}

label {
	display: block;
	font-weight: bold;
	margin: 5px 0;
}

input {
	padding: 2px;
	border: 1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color: #777;
}

textarea {
	width: 400px;
	padding: 2px;
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #eee;
	height: 100px;
	display: block;
	color: #777;
}

input.button {
	font: bold 12px Arial, Sans-serif;
	height: 24px;
	margin: 0;
	padding: 2px 3px;
	color: #FFF;
	background: #8EB50C url(button-bg.jpg) repeat-x 0 0;
	border: none;
}

/* @end */

/* @group Search Form */

.searchform {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 5px 0 15px 0;
	width: 190px;
}

.searchform p {
	margin: 0;
	padding: 0;
}

.searchform input.textbox {
	width: 120px;
	color: #777;
	height: 18px;
	padding: 2px;
	border: 1px solid #E5E5E5;
	vertical-align: top;
}

.searchform input.button {
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
}

/* @end */

/* @group Layout */

#wrap {
	width: 820px;
	background: #CCC url(content.png) repeat-y center top;
	margin: 0 auto;
	text-align: left;
}

#content-wrap {
	clear: both;
	width: 760px;
	padding: 0;
	margin: 10px auto;
}

#header {
	width: 820px;
	height: 103px;
	background: #CCC url(header.png) no-repeat center top;
	padding: 0;
	color: #FFF;
}

#header img.logo-image{
	position: relative;
	margin: 0;
	padding: 0;
	background: transparent;
	left: 42px;
}

#header a, a:visited, a:hover {
	background: none;
}

#header h1.logo-text {
	position: relative;
	margin: 0;
	padding: 0;
	font: bold 32px 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', Arial, Sans-serif;
	color: #FFF;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	top: 42px;
	text-align: center;
}

/* @end */

/* @group Menu */

#menu {
	clear: both;
	margin: 0 auto;
	padding: 0;
	background: url(menu.png) repeat-x 0 0;
	font: bold 12px/37px Verdana, Arial, Tahoma, Sans-serif;
	height: 37px;
	width: 780px;
}

#menu img {
	background-color: #c21c1d;
	vertical-align: text-bottom;
	padding: 0 4px 0 0;
}

#menu ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	display: block;
	float: left;
	padding: 0 12px;
	color: #FFF;
	text-decoration: none;
}

#menu ul li.last a {
	padding-right: 20px;
}

#menu ul li a:hover {
	color: #999999;
}

#menu ul li#current a {
	color: #999999;
}

/* @end */

/* @group Main Column */

#main {
	float: left;
	width: 100%;
	padding: 0;
	/*margin: 5px 5px 0;*/
	display: inline;
}

#main h2 {
	margin-top: 15px;
	font: Bold 140% 'Trebuchet MS', Tahoma, Sans-serif;
	/*color: #999999;*/
	color: #000;
	/*padding: 5px 0 5px 25px;*/
	/*border-bottom: 1px solid #EFF0F1;*/
	/*border-top: 1px solid #c21c1d;*/
	border-bottom: 1px solid #c21c1d;
	text-transform: none;
}

#main div.brands {
	text-align: center;
}

#main div.brands h2 {
	/*text-transform: uppercase;*/
	margin-top: 30px;
	/*border-top: 1px solid #c21c1d;*/
	border-bottom: 1px solid #c21c1d;
}

#main div.brands img {
	background: #FFF;
	border: 0;
	padding: 8px;
	max-width: 712px;
}

#main h2 a {
	background: none;
	text-decoration: underline;
}

#main ul li {
	/*list-style-type: none;*/
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px;
	margin: 20px 10px 10px 10px;
	border: 1px solid #f2f2f2;
	font-size: 95%;
}

.post-footer .date {
	background: url(clock.gif) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.post-footer .comments {
	background: url(comment.gif) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.post-footer .readmore {
	background: url(page.gif) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

/* @end */

/* @group Sidebar */

#sidebar {
	float: right;
	width: 26.5%;
	padding: 0;
	margin: 0;
	color: #68774A;
}

#sidebar h3 {
	margin-top: 10px;
	padding: 5px 5px;
	font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #728D26;
}

#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 7px 4px 8px 0;
	padding: 0;
	text-decoration: none;
	background: url(dots.jpg) repeat-x left top;
}

#sidebar ul.sidemenu li {
	list-style: none;
	background: url(dots.jpg) repeat-x left bottom;
	padding: 4px 0 4px 5px;
	margin: 0 2px;
	color: #68774A;
}

* html body #sidebar ul.sidemenu li {
	height: 1%;
}

#sidebar ul.sidemenu li a {
	text-decoration: none;
	background-image: none;
	color: #666666;
}

#sidebar ul.sidemenu li a:hover {
	color: #1773BC;
}

#sidebar ul.sidemenu ul {
	margin: 0 0 0 5px;
	padding: 0;
}

#sidebar ul.sidemenu ul li {
	background: none;
}

/* @end */

/* @group Footer */

#footer {
	color: #fff;
	background: #CCC url(footer.png) no-repeat center top;
	clear: both;
	width: 820px;
	height: 65px;
	text-align: center;
	font-size: 92%;
}

#footer a {
	color: #FFF;
	text-decoration: none;
}

/* @end */

/* @group Alignment Classes */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

/* @end*/

/* @group Display and Additional Classes */

.clear {
	clear: both;
}

/* @end */
