<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="Description" content="Marketing &amp; Distribution, Albania" />
    <meta name="Keywords" content="Marketing, Distribution, Albania, Tirana" />
    <meta name="Robots" content="index,follow" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>M&amp;D Albania - {{ page.title }}</title>
    <link href="images/Envision.css" media="screen" rel="stylesheet" type="text/css" />
	<style type="text/css">
		img, div { behavior: url(images/iepngfix.htc) }
	</style>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <a href="/"><img class="logo-image" src="images/MD-logo.png" alt="M&amp;D Logo" height="64" style="background-color: transparent; border: 0px"/></a>
        <h1 class="logo-text">Marketing &amp; Distribution - Albania</h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/location.html">Location</a></li>
          <li><a href="/brands.html">Brands</a></li>
          <li><a href="/contact.html">Contact Us</a></li>
        </ul>
      </div>

      <div id="content-wrap">
        <div id="main">
          {{ content }}
        </div>
      </div>

      <div id="footer">
        <p>
        <div>&copy; {{ site.time | date: "%Y" }} Marketing &amp; Distribution. All rights reserved.</div>
      </div>
    </div>
  </body>
</html>
