<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ page.lang }}" lang="{{ page.lang }}">
  <head>
    <meta name="Description" content="Marketing &amp; Distribution, Albania" />
    <meta name="Keywords" content="Marketing, Distribution, Albania, Tirana" />
    <meta name="Robots" content="index,follow" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>M&amp;D Albania - {{ page.title }}</title>
    <link href="images/Envision.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="favicon.png" rel="apple-touch-icon" />
    <script type="text/javascript" src="js/svgeezy.min.js"></script>
    <!--
    <style type="text/css">
    img, div, a, input { behavior: url(images/iepngfix.htc) }
    </style>
    <script type="text/javascript" src="iepngfix_tilebg.js"></script>
    -->
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1 class="logo-text">Marketing &amp; Distribution - Albania</h1>
        {% if page.lang == "sq" %}
        <a href="/index_sq.html"><img class="logo-image" src="images/MD-logo-small.png" alt="M&amp;D Logo" /></a>
        {% else %}
        <a href="/"><img class="logo-image" src="images/MD-logo-small.png" alt="M&amp;D Logo" /></a>
        {% endif %}
      </div>
      <div id="menu">
        <ul>
          {% if page.lang == "sq" %}
          <li><a href="/index_sq.html">Faqja Kryesore</a></li>
          <li><a href="/about_sq.html">Rreth Nesh</a></li>
          <li><a href="/services_sq.html">Shërbimet</a></li>
          <li><a href="/brands_sq.html">Produkte</a></li>
          <li><a href="http://b2b.markdist.com/">B2B</a></li>
          <li><a href="/promo_sq.html">Promo</a></li>
          <li><a href="/location_sq.html">Vendndodhja</a></li>
          <li><a href="/contact_sq.html">Kontakt</a></li>
          <!--<li><a href="/index_sq.html">|</a></li> -->
          <li><a href="https://mail.markdist.com:3000/"><img class="nopadding" src="images/lock.png" alt="Secure" />E-Mail</a></li>
          {% else %}
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/services.html">Services</a></li>
          <li><a href="/brands.html">Brands</a></li>
          <li><a href="http://b2b.markdist.com/">B2B</a></li>
          <li><a href="/promo.html">Promo</a></li>
          <li><a href="/location.html">Location</a></li>
          <li><a href="/contact.html">Contact Us</a></li>
          <!--<li><a href="/">|</a></li>-->
          <li><a href="https://mail.markdist.com:3000/"><img class="nopadding" src="images/lock.png" alt="Secure" />Staff E-Mail</a></li>
          {% endif %}
        </ul>
      </div>
      <div style="float:right;padding-top: 2px; padding-right: 28px;">
          <a href="/index_sq.html"><img class="nopadding" src="images/al.png" title="Switch to Albanian Language" alt="Albanian Flag" /></a>
          <a href="/index.html"><img class="nopadding" src="images/gb.png" title="Switch to English Language" alt="United Kingdom Flag" /></a>
      </div>

      <div id="content-wrap">
        <div id="main">
          {{ content }}
        </div>
      </div>

      <div id="footer">
        <p></p>
        {% if page.lang == "sq" %}
        <div><p>&copy; {{ site.time | date: "%Y" }} Marketing &amp; Distribution. Të gjitha të drejtat e rezervuara.</p></div>
        {% else %}
        <div><p>&copy; {{ site.time | date: "%Y" }} Marketing &amp; Distribution. All rights reserved.</p></div>
        {% endif %}
      </div>
    </div>
    <script type="text/javascript">svgeezy.init(false, 'png');</script>
  </body>
</html>

 <!-- vim: set et sw=2 -->
